/* Body with background image */
body, html {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:#eeffc8; 
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Header container styling */
.header {
  display: flex;
  align-items: center; /* Align logo and text vertically */
  gap: 10px; /* Space between logo and text */
  position: absolute; /* Position at the top-left */
  top: 10px;
  left: 10px;
}

.logo {
  width: 60px; /* Adjust size */
  height: 60px;
}

.Krishi {
  font-size: 34px;
  font-weight: bold;
  color: #ff9100;
  font-family: "Corinthia",cursive;
  margin: 0; /* Remove default margin */
}

.Setu {
  color: #00712D; /* Green color for 'Setu' */
  font-family: "Galada",cursive;
}

.Sign-in{
  margin-top: 0px;
  font-size: 40px;
  font-weight: bold; /* Optional: Makes the text bolder */
  background: linear-gradient(90deg, rgba(255,145,0,1) 40%, rgba(0,113,45,1) 82%);
  -webkit-background-clip: text; /* Clips the background to the text */
  color: transparent; /* Makes the text color transparent so the gradient shows */
  margin-bottom: 30px;
}

/* Center the container */
.container {
  margin-top: 15px;
  display: grid; /* Enables grid layout */
  place-items: center; /* Centers both horizontally and vertically */
  background-color: #FFFBE6;
  padding:40px;
  border-radius: 15px;
  width: 90%; /* Responsive width */
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.075); /* Subtle shadow for depth */
}

/* Form group styling */
.form__group {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  width: 250px; /* Adjust input width */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-radius: 12px;
  border: 2px solid #00712D;
  outline: 0;
  font-size: 10px;
  color: black;
  padding: 10px;
  background:#f3f3f352;
}

.Sign-in-button {
  padding: 10px 20px;
  background: #00712D;
  color: #FFFBE6;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.otp-button{
  color: #00712D;
  background: none;
  text-decoration: underline;
  text-underline-position: below;
  border: none;
  cursor: pointer;
}

.Sign-in-button:hover {
  background: #00913a;
}

/* OR text styling */
.or-text {
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
  font-weight: bold;
  color: #d07814;
  padding: 20px;
}
